.added-single-product-container{
    margin-bottom: 30px !important;
    background-color: rgb(238, 233, 233);
    
   
}
.close-icon-container{
display: inline-block !important;
width: 20px !important;


}
.added-single-product-img{
   
}


.product-remove-icon{
    font-size: 21px !important;
    color: red !important;
    margin-top: -25px !important;
    cursor: pointer !important;
}
.increment-decrement-button-container{
    margin-top: 30px !important;
}



@media(max-width:900px){

    .added-single-product-img{
       height: 160px !important;
       margin: 0 auto !important;
       width: 250px !important;
    }
    .added-single-product-container{
       
       
        width: 90% !important;
        margin:15px  auto !important;
    }
    

}