
.Shop-card-container{
  margin-top: 50px !important;
  padding: 20px !important;
  box-shadow: none !important;
  background-color: rgba(248, 242, 242, 0.63) !important;
  position: relative;

}
.Shop-card-container:hover .shop-view-details-button{
    display: block !important;
    background-color: white;
    /* visibility:initial; */
    transition:all 1s  ease-in-out;
    
  }

.shop_page_product_title:hover{

  color: #c96 !important;
  cursor: pointer;
}
.shop_page_product_title{

    color: #666 !important;
 font-family: 'Poppins';
 margin-top: -50px !important;
 display: block;
}
.shop-view-details-button{

    background-color: white;
    padding: 10px 0;
    /* /* display: none !important; */
    position: relative; 
    bottom: 67px;
    width: 100%;
    visibility: hidden;
    color: black;
    font-weight: 600;
    
}
.shop-card-image:hover{

  cursor: pointer;

}
.shop-view-details-button:hover{

   color: white;
   background-color: #c96 !important;
   transition: all .4s ease-in-out;
}

.add_to_cart_btn{

    text-transform: uppercase !important;
    color: #c96 !important;
    border: 1px solid #c96 !important;
    background-color: transparent !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
 
    position:absolute !important;
    bottom: 8px !important;
   
    width: 70%;
}
.add_to_cart_btn:hover{
    color: white !important;
    background-color: #c96 !important;
    transition: all .4s ease-in-out !important;
    border:1px solid #c96 !important

}

.discount-container{

    position: absolute !important;
    top: 20px !important;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.411);
    width: 200px !important;
    font-weight: 700;
   
   
      
}